.paragraph {
	font-family: Arial, Helvetica, sans-serif;
	margin-left: 2.5%;
	font-size: 100%;
}

.buttonsbox {
	background-color: rgb(145, 186, 224);
	vertical-align: center;
    
	display: inline-block;
}

.link {
	display: inline-block;
	color: rgb(0, 0, 0);
	text-align: center;
	padding: 20px 15px;
	text-decoration: none;
	font-size: 20px;
}

a:hover {
	background-color: rgb(255, 255, 255);
}

a:active {
	background-color: rgb(255, 255, 255);
}

.header2 {
	margin-left: 2.5%;
}

.header3 {
	color: rgb(86, 165, 238);
	margin: 0;
	margin-left: 2.5%;
}

.header1 {
	margin-left: 2.5%;
}

body {
	display: flex;
	height: 100vh;
	margin: 0;
}

#left-div {
	flex: 1;
	/* 10% */
	background-color: rgb(145, 186, 224);
}

#right-div {
	flex: 9;
	/* 90% */
}

.Table
    table, th, td{
	font-size: larger;
	border: 1px solid black;
}

.list {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	margin-left: 1.5%;
}

.avatar {
	max-width: 100%;
	height: auto;
	display: block;
	margin: auto;
}

